h1 {
    color: red;
    text-align: center;
}

#wow {
    color: #0000ff;
    text-align: center;
}

#woo {
    color: rgba(65, 253, 18, 0.863);
    text-align: center;
}

div {
    text-align: center;
    color: gray;
}